{% load static %}
<section id="home" class="hero"> 
  <div class="container text-center">
    <img src="{% static 'images/my_image.jpg' %}" alt="my-photo" class="hero-img" />
    <h1>Hi, I'm Krischal 👋</h1>
    <h2 class="subtitle">Full Stack Developer</h2>
    <p class="subtitle">I build web apps using Django, React, and more.</p>
    <div class="hero-buttons">
      <a href="{% static 'resume/Krischal_Resume.pdf' %}" class="btn btn-primary me-2" download>
        Download Resume
      </a>
      <a href="#contact" class="btn btn-outline-light">Say Hi</a>
    </div>
  </div>
</section>
  